@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

/* Estilo de Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/* Títulos */
.title-text {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
}

/* Texto para gráficos */
.graph-text {
    font-size: 1.6rem;
    color: var(--light-color);
    line-height: 1.5;
}

/* Estilo para ícones */
.icons-box {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
}

.icons-box:hover {
    background: var(--black);
    color: var(--white);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

section {
    padding: 5rem 10%;
}

.heading {
    margin-bottom: 3rem;
    font-size: 3rem; 
    font-weight: bold; 
    line-height: 1.2; 
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.btn:hover {
    background: var(--yellow);
    color: var(--black);
}

@keyframes fadeIn {
    0% {
        top: 50%;
        opacity: 0;
    }
    100% {
        top: 100%;
        opacity: 1;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
}

.header .logo span {
    color: var(--yellow);
}

.navbar a {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    margin: 0 1rem;
}

.navbar a:hover {
    color: var(--yellow);
}

.icons div {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-left: .3rem;
}

#menu-btn {
    display: none;
}

/* Estilo para o formulário de pesquisa */
.search-form {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn .2s linear;
}

.search-form.active {
    display: flex;
}

.search-form input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color: var(--light-color);
}

.search-form label {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

.search-form label:hover {
    color: var(--yellow);
}

.login-form {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    animation: fadeIn .2s linear;
    display: none;
}

.login-form.active {
    display: block;
}

.login-form h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.login-form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color: var(--light-color);
    margin: .7rem 0;
}

.login-form .flex {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.login-form .flex label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form .flex a {
    font-size: 1.5rem;
    color: var(--light-color);
    margin-left: auto;
}

.login-form .flex a:hover {
    color: var(--yellow);
    text-decoration: underline;
}

.login-form .btn {
    width: 100%;
}

.login-form p {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form p a {
    color: var(--yellow);
}

.login-form p a:hover {
    text-decoration: underline;
}

.contact-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 35rem;
    background: var(--white);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, .3);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;
}

.contact-info.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
    display: block;
}

#close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--black);
}

#close-contact-info:hover {
    transform: rotate(90deg);
}

.contact-info .info {
    padding: 2rem 0;
}

.contact-info .info i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-bottom: .5rem;
}

.contact-info .info h3 {
    font-size: 2rem;
    padding: 1rem;
    text-transform: capitalize;
}

.contact-info .info p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.contact-info .share {
    padding-top: 1rem;
    border-top: var(--border);
    margin-top: 1rem;
}

.contact-info .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    margin: .3rem;
}

.contact-info .share a:hover {
    background: var(--black);
    color: var(--white);
}

.home {
    padding: 0;
}

.home .slide {
    min-height: 60rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover !important;
}

.home .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
    width: 50rem;
    position: relative;
}

.home .slide .content h3 {
    font-size: 6rem;
    color: var(--black);
    text-transform: uppercase;
}

.home .slide .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.swiper-button-prev,
.swiper-button-next {
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    font-size: 3rem;
    background: var(--white);
    transition: background 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: var(--yellow);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
    color: var(--black);
}

.swiper-button-prev{
    right: 7rem;
}

.about{

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .video{
            flex:1 1 41rem;

            video{
                width: 100%;
            }
        }
    
        .content{
            flex: 1 1 41rem;

            h3{
                font-size: 3.5rem;
                font-weight: bold;
                line-height: 1.2;
                margin-bottom: 1rem;
            }

            p{
                font-size: 1.5rem;
                line-height: 1.6;
                color: var(--light-color);
                padding: 1rem 0;
            }
        }
    }


    .box-container{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        gap: 1.5rem;
        align-items: flex-end;

        .box{
            text-align: center;
            background: var(--light-bg);
            padding: 3rem;
        }

        h3{
            font-size: 4rem;
        }

        p{
            font-size: 1.5rem;
            padding-top: .5rem;
        } 
    }
}

.services{
    background: var(--light-bg);

    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        gap: 1.5rem;

        .box{
            text-align: center;
            padding: 3rem;
            background: var(--white);
            box-shadow: var(--box-shadow);
            border: var(--border);

            &:hover img{
                transform: translateY(-1rem);
            } 

            img{
                height: 7rem;
                margin-bottom: .5rem;
                transition: transform 0.3s ease;
            }

            h3{
                font-size: 1.7rem;
                font-weight: bold;
                color: var(--black);
                padding: 1rem 0;
            }

            p{
                font-size: 1.4rem;
                line-height: 1.8;
                color: var(--gray);
            }
        }
    }
}

.projects {
    background: var(--black);

    .heading {
        color: var(--white);
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        gap: 1.5rem;

        .box {
            cursor: initial;

            &:hover .image img {
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }

            .image {
                height: 40rem;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease; /* Transição suave aplicada aqui */
                }
            }

            .content {
                display: flex;
                gap: .5rem;
                background: var(--white);
                justify-content: space-between;

                .info {
                    padding: 1rem 2rem;

                    h3 {
                        font-size: 1.7rem;
                        font-weight: bold;
                        color: var(--black);
                    }

                    p {
                        font-size: 1.5rem;
                        line-height: 1.6;
                        color: var(--light-color);
                    }
                }

                i {
                    width: 7.5rem;
                    font-size: 3rem;
                    background: var(--yellow);
                    color: var(--white);
                    cursor: pointer;
                    text-align: center;
                    line-height: 7.5rem;
                }
            }
        }
    }
}

.reviews {
    .slide {
        p {
            padding: 1.5rem;
            background-color: var(--light-bg);
            position: relative;
            margin-bottom: 3rem;
            font-size: 1.5rem;
            line-height: 1.6;
            color: var(--black);

            &::before {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 2rem;
                height: 2rem;
                width: 2rem;
                background: var(--light-bg);
                transform: rotate(45deg);
            }
        }

        .user {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            img {
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
            }

            h3 {
                font-size: 1.7rem;
                font-weight: bold;
                color: var(--black);
                text-transform: uppercase;
            }

            .stars {
                padding: 0.5rem;

                i {
                    font-size: 1.5rem;
                    color: var(--yellow);
                }
            }
        }
    }
}


/* Media Queries */

/* Para telas de até 991px de largura */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 5rem 2rem;
    }

    .contact-info {
        width: 100%;
    }

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .navbar {
        position: absolute;
        top: 120%;
        right: 2rem;
        border-radius: .5rem;
        width: 30rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        text-align: center;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        margin: 1.5rem 0;
        display: block;
    }

    .search-form {
        width: 90%;
    }

    .home .swiper-slide .content {
        width: 100%;
        padding: 1rem;
    }

    .home .swiper-slide .content h3 {
        font-size: 4rem;
    }

    .home .swiper-slide .content p {
        font-size: 1.2rem;
        line-height: 1.8;
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
        line-height: 5rem;
    }
}

/* Para telas de até 768px de largura */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .header {
        padding: 1.5rem;
    }

    section {
        padding: 4rem 1.5rem;
    }

    .navbar {
        width: 25rem;
    }
    
    .home .slide{
        text-align: center;

        h3{
            font-size: 2rem;
        }
    }

    .home .swiper-slide .content h3 {
        font-size: 3.5rem;
    }

    .home .swiper-slide .content p {
        font-size: 1.1rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
        line-height: 4rem;
    }
}

/* Para telas de até 450px de largura */
@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

    .header {
        padding: 1rem;
    }

    section {
        padding: 3rem 1rem;
    }

    .navbar {
        width: 20rem;
    }

    .home .swiper-slide .content h3 {
        font-size: 2.5rem;
    }

    .home .swiper-slide .content p {
        font-size: 1rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 3rem;
        width: 3rem;
        font-size: 1.2rem;
        line-height: 3rem;
    }
}
